{
        admin off
        servers {
                client_ip_headers X-Forwarded-For
                trusted_proxies static private_ranges
                trusted_proxies_strict
        }
        order crowdsec before respond
        crowdsec {
                api_url http://crowdsec:8080
                api_key "T/AZ7StIc0c+WHiD4LS3zuC6t5lRt80KkH8e6jymiJA"
                ticker_interval 3s
                appsec_url http://crowdsec:7422
                #disable_streaming
                #enable_hard_fails
        }

}
(authentik) {
      forward_auth http://authentik:9000 {
        uri /outpost.goauthentik.io/auth/caddy
        copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
    }
    reverse_proxy /outpost.goauthentik.io/* http://authentik:9000 {
        header_up Host {http.reverse_proxy.upstream.hostport}
    }
    }
(default-headers) {
        header {
                -frameDeny
                -sslRedirect
                -browserXssFilter
                -contentTypeNosniff
                -forceSTSHeader
                -stsIncludeSubdomains
                -stsPreload
                -stsSeconds 15552000
                -customFrameOptionsValue SAMEORIGIN
                -customRequestHeaders X-Forwarded-Proto https
        }
}

(geniehome-ipwhitelist) {
        @blocked_ips not remote_ip 100.100.54.99 172.26.0.1/24 192.168.20.0/24 192.168.1.0/27 192.168.3.1 192.168.3.2 192.168.30.0/28 10.0.0.0/8

        handle @blocked_ips {
                respond "Forbidden, You Idiot"
        }
}

*.geniehome.net {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                propagation_delay 2m
                resolvers 1.1.1.1
        }
        log {
                level INFO
                output file /var/log/caddy/access.log
        }

        @photoprism-external host prism.geniehome.net
        handle @photoprism-external {
                reverse_proxy photoprism:2342 {



        }
        crowdsec
        header @photoprism-external X-Forwarded-For "{http.request.header.Cf-Connecting-Ip}"

        }
}

*.test.geniehome.net {
        import default-headers
        import geniehome-ipwhitelist
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                propagation_delay 2m
                resolvers 1.1.1.1
        }
        log {
                level INFO
                output file /var/log/caddy/access.log
        }
        @photoprism host photo.test.geniehome.net
        handle @photoprism {
                reverse_proxy photoprism:2342
                import authentik
                crowdsec
        }
       @authentik host authentik.local.geniehome.net
        handle @authentik {
                reverse_proxy authentik:9000
                crowdsec
        }
}
